body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}
header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}
nav {
  background-color: #444;
  padding: 10px;
  text-align: center;
  justify-content: center;
  display: flex;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 10px;
}
nav a:hover {
  color: yellow;
}
section {
  padding: 20px;
  margin: 20px;
  background-color: white;
}
footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px;
}

form input,
form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

input[type="submit"] {
  background-color: #222;
  color: white;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555;
}

.header-container {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.skill-box {
  background-color: #222;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}
.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project-card {
  background-color: #f0f0f0;
  padding: 15px;
  width: 250px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    text-align: center;
  }

  .skills-container {
    flex-direction: column;
    align-items: center;
  }

  .project-container {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 90%;
  }

  nav {
    flex-direction: column;
    gap: 10px;
  }
}
.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode header {
  background-color: black;
}

.dark-mode nav {
  background-color: #1f1f1f;
}

.dark-mode section {
  background-color: #1e1e1e;
}

.dark-mode .project-card {
  background-color: #2a2a2a;
}

.dark-mode input,
.dark-mode textarea {
  background-color: #333;
  color: white;
  border: 1px solid #555;
}
body {
    transition: all 0.3s ease;
}
html {
  scroll-behavior: smooth;
}
#theme-toggle {
  margin-left: 20px;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}